{% from "_namehelpers.html" import render_item_name, render_monster_name, render_npc_name %}

{% macro render_basic_infos(obj, kw_list=[], quest_scroll=False, quests=[]) %}
{# 
    Renders basic information including icon, title and given kws of given object.

    obj = database object
    kw_list = List with 1. String, 2. database attr name
    kw_list can be a list of 3 to indicate that it should be rendered 0 1 2 where 0 and 2 are database attrs.
#}
<div class="card">
    <div class="card-header d-flex justify-content-start align-items-center">
        
        {% if obj.location is defined %} {# only monsters have that attribute #}
            <img onerror="this.style.display='none'" class="mr-2" src="{{url_for('static', filename='img/monster_icons/{0}'.format(obj.icon))}}">
        {% else %}
            <img onerror="this.style.display='none'" class="mr-2" src="{{url_for('static', filename='img/item_icons/{0}'.format(obj.icon))}}">
        {% endif %}

        {% if obj.rating_type is defined %} {# only monsters have that attribute #}
            {{ render_monster_name(obj, header=True) }}
        {% else %}
            {{ render_item_name(obj, header=True) }}
        {% endif %}
    </div>
    {% if kw_list %}
    <div class="card-body">
        <ul class="list-group list-group-flush">
            {% for j in kw_list %}
            {% set name = j[0] %}
            {% set value = j[1] %}
            <li class="list-group-item no-bg d-flex justify-content-between">
                <span>{{name}}</span>

                {% if not value|is_list and "str:" in value %}
                    <span>{{value.split(":")[1]}}</span>

                {% elif value|is_list %}
                    <span>{{obj[value[0]]}}{{value[1]}}{{obj[value[2]]}}</span>

                {% elif "." in value %}
                    <span>{{obj|getattr(value)}}</span>

                {% elif obj[value]|type(bool) %}
                    {% if obj[value] == False %}
                        <span>{{_("No")}}</span>
                    {% elif obj[value] == True %}
                        <span>{{_("Yes")}}</span>
                    {% endif %}

                {% else %}
                    <span>{{obj[value]}}</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% elif quest_scroll and obj.quest is not none %} {# show link to quest #}
    <ul class="list-group list-group-flush">
        <a href="/database/quest/{{obj.quest.code}}" class="list-group-item list-group-item-action">
            <div class="d-flex">
                <span class="flex-grow-1">{{obj.quest.name}}</span>
                <div class="arrow-box"><i class="arrow arrow-right"></i></div>
            </div>
        </a>
    </ul>
    {% elif quests %}
        {% for quest in quests %}
        <ul class="list-group list-group-flush">
            <a href="/database/quest/{{quest.code}}" class="list-group-item list-group-item-action">
                <div class="d-flex">
                    <span class="flex-grow-1">{{quest.name}}</span>
                    <div class="arrow-box"><i class="arrow arrow-right"></i></div>
                </div>
            </a>
        </ul>
        {% endfor %}
    {% endif %}
</div>
{% endmacro %}

{% macro render_quests(quests) %}
<div class="card">
    <div class="card-header">
        <span class="header">{{_("Quests")}}</span>
    </div>
    <ul class="list-group list-group-flush">
        {% for quest in quests %}
        <a href="/database/quest/{{quest.code}}" class="list-group-item list-group-item-action">
            <div class="d-flex">
                <span class="flex-grow-1">{{quest.name}}</span>
                <div class="arrow-box"><i class="arrow arrow-right"></i></div>
            </div>
        </a>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro render_drops(drops, edit_mode=False) %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span class="header">{{_("Drops")}}</span>
        {% if not edit_mode %}
        <div>
            <i onclick="$('#dropMessageDialog').modal();" class="fas fa-plus"></i>
            {% if current_user.is_authenticated and current_user.can_edit_drops %}
                <i onclick="window.location += '/edit';" class="ml-2 fas fa-pen"></i>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% if drops %}
    <ul class="list-group list-group-flush">
        {% for drop in drops %}
        <a href="/database/{{drop.item.table}}/{{drop.item_code}}" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img class="flex-shrink-1" src="{{url_for('static', filename='img/item_icons/' + drop.item.icon)}}">
                <span class="flex-grow-1 ml-1">
                    {{render_item_name(drop.item)}}
                    {% if edit_mode %}
                    <br>
                    <span class="sub">{{drop.item_code}}</span>
                    {% endif %}
                </span>
                {% if edit_mode %}
                    <input type="hidden" name="item_code" value="{{drop.item_code}}">
                    <i class="delete-icon fas fa-trash"></i>
                {% else %}
                    <div class="arrow-box"><i class="arrow arrow-right"></i></div>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    {% elif not edit_mode %}
    <div class="card-body">
        <ul class="list-group">
            <p class="list-group-item no-bg">{{_("There are no drops know for this monster. You can help us with clicking on the <b>+</b> at the top!")}}</p>
        </ul>
    </div>
    {% endif %}
    </ul>
</div>
{% endmacro %}

{% macro render_dropped_by(list) %}
<div class="card">
    <div class="card-header">
        <span class="header">{{_("Dropped By")}}</span>
    </div>
    <ul class="list-group list-group-flush">
        {% for entry in list %}
        <a href="/database/monster/{{entry.monster_code}}" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img class="flex-shrink-1" src="{{url_for('static', filename='img/monster_icons/' + entry.monster.icon)}}">
                <span class="flex-grow-1 ml-1">{{render_monster_name(entry.monster)}}</span>
                <div class="arrow-box"><i class="arrow arrow-right"></i></div>
            </div>
        </a>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro render_add_drop(monster) %}
<div class="card">
    <div class="card-header">
        <span class="header">{{_("Add drop")}}</span>
    </div>
    <div class="card-body">
        <div class="d-flex align-items-center">
            <input type="search" class="easyautocomplete-search-input" id="addDropInput" autocomplete="off" placeholder="{{_('Search item')}}">
            <div class="easyautocomplete-search-input-spinner" id="addDropInputSpinner" class="ml-2 spinner-border text-primary" role="status"></div>
        </div>
        <button id="addDropButton" class="btn btn-success mt-3">{{_("Add")}}</button>
    </div>
</div>
{% endmacro %}

{% macro render_upgrade(data, upgrade_data, table, type) %}
<div class="card">
    <div class="card-header">
        <span class="header">{{_("Stats")}}</span>
    </div>
    <div class="card-body">
        <div class="level-slider-wrapper text-center p-3">
            <div class="level-slider-upgrade-text">
                <span>{{_("Upgrade:")}} <span id="sliderValue"></span></span>
            </div>
            <input type="range" min="0" max="15" value="0" class="slider" id="levelSlider"> 
        </div>
        {% if type == "weapon" %}
        <div class="upgrade-list">
            {% set ph_min_dmg = data.physical_attack_min %}
            {% set ph_max_dmg = data.physical_attack_max %}
            {% set mg_min_dmg = data.magical_attack_min %}
            {% set mg_max_dmg = data.magical_attack_max %}
            {% set attack_speed = data.attack_speed %}
            {% set range_ = data.range %}

            {% for upgrade_rule in upgrade_data %}
            <div id="{{loop.index-1}}" class="list-group list-group-flush upgrade">
                
                {# pg #}
                <div class="list-group-item no-bg d-flex justify-content-between border-top-none">
                    <span>{{_("Physical Damage")}}</span>
                    {% if table in ["rapier", "dagger", "one_handed_sword", "two_handed_sword", "rifle", "duals"] %} {# weapons that change their physical damage when upgraded #}
                        <span class="{{'upgrade-color' if loop.index > 1 else ''}}">{{ph_min_dmg + upgrade_rule.value_0}} ~ {{ph_max_dmg + upgrade_rule.value_0}}</span>
                    {% else %}
                        <span>{{ph_min_dmg}} ~ {{ph_max_dmg}}</span>
                    {% endif %}
                </div>

                {# mg #}
                <div class="list-group-item no-bg d-flex justify-content-between border-top-none">
                    <span>{{_("Spell Damage")}}</span>
                    {% if table in ["cariad", "rapier", "dagger"] %} {# weapons that change their magical damage when upgraded #}
                        {% if table in ["rapier", "dagger"] %} {# has value_2 as magic damage instead of 1 #}
                            <span class="{{'upgrade-color' if loop.index > 1 else ''}}">{{mg_min_dmg + upgrade_rule.value_2}} ~ {{mg_max_dmg + upgrade_rule.value_2}}</span>
                        {% else %}
                            <span class="{{'upgrade-color' if loop.index > 1 else ''}}">{{mg_min_dmg + upgrade_rule.value_1}} ~ {{mg_max_dmg + upgrade_rule.value_1}}</span>
                        {% endif %}
                    {% else %}
                        <span>{{mg_min_dmg}} ~ {{mg_max_dmg}}</span>
                    {% endif %}
                </div>

                {# attack speed #}
                <div class="list-group-item no-bg d-flex justify-content-between border-top-none">
                    <span>{{_("Attack Speed")}}</span>
                    <span>{{attack_speed/1000}}s</span>
                </div>

                {# range #}
                <div class="list-group-item no-bg d-flex justify-content-between border-top-none">
                    <span>{{_("Range")}}</span>
                    <span>{{range_/100}}m</span>
                </div>

            </div>
            {% endfor %}
        </div>

        {% elif type == "armor" %}
        <div id="upgrade-list">
            {% set ph_def = data.physical_defense %}
            {% set mg_def = data.magic_defense %}

            {% for upgrade_rule in upgrade_data %}
            <div id="{{loop.index-1}}" class="list-group list-group-flush upgrade border-top-none">
                    
                {# ph #}
                <div class="list-group-item no-bg d-flex justify-content-between border-top-none">
                    <span>{{_("Physical Defense")}}</span>
                    {% if table == "coat" %}
                        <span class="{{'upgrade-color' if loop.index > 1 else ''}}">{{ph_def + upgrade_rule.value_0}}</span>
                    {% else %}
                        <span>{{ph_def}}</span>
                    {% endif %}
                </div>

                {# mg #}
                <div class="list-group-item no-bg d-flex justify-content-between border-top-none">
                    <span>{{_("Magical Defense")}}</span>
                    {% if table == "pants" %}
                        <span class="{{'upgrade-color' if loop.index > 1 else ''}}">{{mg_def + upgrade_rule.value_0}}</span>
                    {% else %}
                        <span>{{mg_def}}</span>
                    {% endif %}
                </div>

                {# hitrate #}
                {% if table == "gauntlet" %}
                    <div class="list-group-item no-bg d-flex justify-content-between border-top-none">
                        <span>{{_("Hitrate")}}</span>
                        <span class="{{'upgrade-color' if loop.index > 1 else ''}}">{{0 + upgrade_rule.value_0}}</span>
                    </div>
                {% endif %}

                {# attack speed #}
                {% if table == "gauntlet" %}
                    <div class="list-group-item no-bg d-flex justify-content-between border-top-none">
                        <span>{{_("Attack Speed")}}</span>
                        <span class="float-right {{'upgrade-color' if loop.index > 1 else ''}}">{{0 + loop.index-1}}%</span>
                    </div>
                {% endif %}
                
                {# avoidance rate #}
                {% if table == "shoes" %}
                    <div class="list-group-item no-bg d-flex justify-content-between border-top-none">
                        <span>{{_("Physical avoidance rate")}}</span>
                        <span class="{{'upgrade-color' if loop.index > 1 else ''}}">{{0 + upgrade_rule.value_0}}</span>
                    </div>
                {% endif %}

                {# moving speed #}
                {% if table == "shoes" %}
                <div class="list-group-item no-bg d-flex justify-content-between border-top-none">
                        <span>{{_("Moving speed")}}</span>
                        <span class="{{'upgrade-color' if loop.index > 1 else ''}}">{{0 + loop.index-1}}%</span>
                    </div>
                {% endif %}

            </div>
            {% endfor %}

        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_needed_for(recipe_data, second_job_data) %}
<div class="card">
    <div class="card-header">
        <span class="header">{{_("Needed for")}}</span>
    </div>
    <ul class="list-group list-group-flush">
        {% for recipe in recipe_data %}
        <a href="/database/recipe/{{recipe.code}}" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img class="flex-shrink-1" src="{{url_for('static', filename='img/item_icons/' + recipe.icon)}}">
                <span class="flex-grow-1 ml-1">{{render_item_name(recipe)}}</span>
                <div class="arrow-box"><i class="arrow arrow-right"></i></div>
            </div>
        </a>
        {% endfor %}
        {% for product_book in second_job_data %}
        <a href="/database/product_book/{{product_book.code}}" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img class="flex-shrink-1" src="{{url_for('static', filename='img/item_icons/' + product_book.icon)}}">
                <span class="flex-grow-1 ml-1">{{render_item_name(product_book)}}</span>
                <div class="arrow-box"><i class="arrow arrow-right"></i></div>
            </div>
        </a>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro render_produced_by(recipe_data, second_job_data) %}
<div class="card">
    <div class="card-header">
        <span class="header">{{_("Produced by")}}</span>
    </div>
    <ul class="list-group list-group-flush">
        {% for recipe in recipe_data %}
        <a href="/database/recipe/{{recipe.code}}" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img class="flex-shrink-1" src="{{url_for('static', filename='img/item_icons/' + recipe.icon)}}">
                <span class="flex-grow-1 ml-1">{{render_item_name(recipe)}}</span>
                <div class="arrow-box"><i class="arrow arrow-right"></i></div>
            </div>
        </a>
        {% endfor %}
        {% for product_book in second_job_data %}
        <a href="/database/product_book/{{product_book.code}}" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img class="flex-shrink-1" src="{{url_for('static', filename='img/item_icons/' + product_book.icon)}}">
                <span class="flex-grow-1 ml-1">{{render_item_name(product_book)}}</span>
                <div class="arrow-box"><i class="arrow arrow-right"></i></div>
            </div>
        </a>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro render_bonus_stats(data) %}
<div class="card">
    <div class="card-header">
        <span class="header">{{_("Bonus Stats")}}</span>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            {% for i in range(1, 6) %}

            {% if data["bonus_code_{0}".format(i)] == 4294967295 %}
                {% break %}
            {% endif %}
            
            <li class="list-group-item no-bg d-flex justify-content-between">
                {% set code = data["bonus_code_{0}".format(i)] %}

                {% if code != 4294967295 %}

                    {% set operator = data["bonus_operator_{0}".format(i)] %}
                    {% set value = data["bonus_{0}".format(i)] %}

                    {% if operator == "+" %}
                        {% if value < 0 %}
                            <span>{{BONUSCODES[code|string]}}</span>
                            <span>{{value|int}}</span>
                        {% else %}
                            <span>{{BONUSCODES[code|string]}}</span>
                            <span>+{{value|int}}</span>
                        {% endif %}
                    {% elif operator == "*" %}
                        <span>{{BONUSCODES[code|string]}}</span>
                        <span>{{(value*100)|int}}%</span>
                    {% endif %}

                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro render_random_boxes(boxes) %}
<div class="card">
    <div class="card-header">
            <span class="header">{{_("Available in")}}</span>
    </div>
    <ul class="list-group list-group-flush">
        {% for box in boxes %}
        <a href="/database/random_box/{{box.code}}" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img class="flex-shrink-1" src="{{url_for('static', filename='img/item_icons/' + box.icon)}}">
                <span class="flex-grow-1 ml-1">{{render_item_name(box)}}</span>
                <div class="arrow-box"><i class="arrow arrow-right"></i></div>
            </div>
        </a>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro render_material_list(data) %}
<div class="card">
    <div class="card-header">
        <a href="/database/{{data.result_item.table}}/{{data.result_code}}" class="d-flex justify-content-start align-items-center">
            <img onerror="this.style.display='none'" class="mr-2" src="{{url_for('static', filename='img/item_icons/{0}'.format(data.result_item.icon))}}">
            {{render_item_name(data.result_item, header=True)}}
        </a>
    </div>
    <ul class="list-group list-group-flush">
        {% for i in range(1, 7) %}
            {% set material_code = data["material_{0}_code".format(i)] %}
    
            {% if material_code != "#" %}
                {% set material = data["material_{0}".format(i)] %}
                {% set quantity = data["material_{0}_quantity".format(i)] %}
    
                <a href="/database/{{material.table}}/{{material.code}}" class="list-group-item list-group-item-action">
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-1" src="{{url_for('static', filename='img/item_icons/' + material.icon)}}">
                        <span class="flex-grow-1 ml-1">
                            {{render_item_name(material)}}
                            <br>
                            <span class="sub">{{_("Quantity:")}} {{quantity}}</span>
                        </span>
                        <div class="arrow-box"><i class="arrow arrow-right"></i></div>
                    </div>
                </a>
            {% else %}
                {% break %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro render_text_only(header, text) %}
<div class="card">
    <div class="card-header">
        <span class="header">{{header}}</span>
    </div>
    <div class="card-body">
        <span>{{text}}</span> 
    </div>
</div>
{% endmacro %}

{% macro render_random_box_content(box) %}
<div class="card">
    <div class="card-header">
        <span class="header">{{_("Content")}}</span>
    </div>
    <ul class="list-group list-group-flush">
        {% for i in range(61) %}
        
            {% set item_code = box["item_{0}_code".format(i)] %}

            {% if item_code != "#" %}

                {% if item_code == "money" %}
                    {% set item = {"name": "Gelt", "icon": "def004.png"} %}
                {% else %}
                    {% set item = box["item_{0}".format(i)] %}
                {% endif %}
                {% set quantity = box["item_{0}_quantity".format(i)] %}
                {% set probability = box["item_{0}_probability".format(i)] %}

                <a {% if item_code != "money" %} href="/database/{{item['table']}}/{{item['code']}}" {% endif %} class="list-group-item list-group-item-action">
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-1" src="{{url_for('static', filename='img/item_icons/' + item['icon'])}}">
                        <span class="flex-grow-1 ml-1">
                            {{render_item_name(item)}}
                            <br>
                            <span class="sub">{{_("Quantity:")}} {{quantity}}</span>
                            <br>
                            {% if current_user.is_authenticated and current_user.can_see_probability %}
                                <span class="sub">{{_("Probability:")}} {{probability}}%</span>
                            {% endif %}
                        </span>
                        {% if item_code != "money" %}
                        <div class="arrow-box"><i class="arrow arrow-right"></i></div>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro render_quest_link(quest, header, scroll=False) %}
<div class="card">
    <div class="card-header">
        <span class="header">{{header}}</span>
    </div>
    <ul class="list-group list-group-flush">
        <a href="/database/{{'quest_scroll' if scroll else 'quest'}}/{{quest.code}}" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <span class="flex-grow-1 ml-1">
                    {{render_item_name(quest)}}
                    {% if not scroll %}
                    <br>
                    <span class="sub">{{_("Level:")}} {{quest.level}}</span>
                    {% endif %}
                </span>
                <div class="arrow-box"><i class="arrow arrow-right"></i></div>
            </div>
        </a>
    </ul>
</div>
{% endmacro %}

{% macro render_quest_mission(mission, give_descriptions, description, index) %}
<div class="card">
    <div class="card-header">
        <span class="header">{{description["mission_{0}".format(index)]}}</span>
    </div>

    {% set work_type = mission.work_type %}

    {# deliver item #}
    {% if work_type == 0 %}
        <ul class="list-group list-group-flush">
            <a href="{{'/database/{0}/{1}'.format(mission.item.table, mission.item_code)}}" class="list-group-item list-group-item-action">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-1" src="{{url_for('static', filename='img/item_icons/' + mission.item.icon)}}">
                    <span class="flex-grow-1 ml-1">
                        {{render_item_name(mission.item)}}
                        <br>
                        <span class="sub">{{_("Quantity:")}} {{mission.count}}</span>
                    </span>
                    <div class="arrow-box"><i class="arrow arrow-right"></i></div>
                </div>
            </a>
        </ul>

    {# something with npc #}
    {% elif work_type in [1, 4, 17] %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex align-items-center">
                <img class="flex-shrink-1" src="{{url_for('static', filename='img/npc_icons/' + mission.npc.icon)}}">
                <span class="flex-grow-1 ml-1">
                    {{render_npc_name(mission.npc)}}
                </span>
            </li>
            {% if give_descriptions %}
                {% for give_item in give_descriptions %}
                    <a href="{{'/database/quest_item/{0}'.format(give_item.item.code)}}" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center">
                            <img class="flex-shrink-1" src="{{url_for('static', filename='img/item_icons/' + give_item.item.icon)}}">
                            <span class="flex-grow-1 ml-1">{{render_item_name(give_item.item)}}</span>
                            <div class="arrow-box"><i class="arrow arrow-right"></i></div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </ul>
    
    {# collect item #}
    {% elif work_type == 3 %}
        <ul class="list-group list-group-flush">
            <a href="{{'/database/quest_item/{0}'.format(mission.quest_item_code)}}" class="list-group-item list-group-item-action">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-1" src="{{url_for('static', filename='img/item_icons/' + mission.quest_item.icon)}}">
                    <span class="flex-grow-1 ml-1">
                        {{render_item_name(mission.quest_item)}}
                        <br>
                        <span class="sub">{{_("Quantity:")}} {{mission.count}}</span>
                    </span>
                    <div class="arrow-box"><i class="arrow arrow-right"></i></div>
                </div>
            </a>
        </ul>

    {# kill monster #}
    {% elif work_type == 2 %}
        <div class="list-group list-group-flush">
            <a href="{{'/database/monster/{0}'.format(mission.monster_code)}}" class="list-group-item list-group-item-action">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-1" src="{{url_for('static', filename='img/monster_icons/' + mission.monster.icon)}}">
                    <span class="flex-grow-1 ml-1">
                        {{render_monster_name(mission.monster)}}
                        <br>
                        <span class="sub">{{_("Quantity:")}} {{mission.count}}</span>
                    </span>
                    <div class="arrow-box"><i class="arrow arrow-right"></i></div>
                </div>
            </a>
        </div>

    {# other codes with just text #}
    {% else %}
        <div class="card-body">

            {% if work_type == 5 %}
                <span>{{_("Equip") + " {0}.".format(mission.work_value)}}</span>

            {% elif work_type == 9 %}
                {% if mission.work_value == "0" %}
                    <span>{{_("Use Land Skill Book.")}}</span>
                {% else %}
                    <span>{{_("Use Sea Skill Book.")}}</span>
                {% endif %}

            {% elif work_type == 10 %}
                {% if mission.work_value == "0" %}
                    <span>{{_("Use Land Skill Point.")}}</span>
                {% else %}
                    <span>{{_("Use Sea Skill Point.")}}</span>
                {% endif %}

            {% elif work_type == 11 %}
                <span>{{_("Add a potion to your Quick Slot Bar.")}}</span>

            {% elif work_type == 12 %}
                <span>{{_("Add a Skill to your Quick Slot Bar.")}}</span>

            {% elif work_type == 13 %}
                <span>{{_("Add a Ship to your Dock.")}}</span>

            {% elif work_type == 14 %}
                <span>{{_("Tune your Ship.")}}</span>

            {% elif work_type == 15 %}
                <span>{{_("Equip Shells for your Ship.")}}</span>

            {% elif work_type == 16 %}
                <span>{{_("Change weapons.")}}</span>

            {% endif %}
    
        </div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_quest_rewards(rewards) %}
<div class="card">
    <div class="card-header">
        <span class="header">{{_("Rewards")}}</span>
    </div>
    <ul class="list-group list-group-flush">
        {% for reward in rewards %}
        <a href="/database/{{reward.item.table}}/{{reward.item.code}}" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center">
                <img class="flex-shrink-1" src="{{url_for('static', filename='img/item_icons/' + reward.item.icon)}}">
                <span class="flex-grow-1 ml-1">
                    {{render_item_name(reward.item)}}
                    <br>
                    <span class="sub">{{_("Quantity:")}} {{reward.amount}}</span>
                </span>
                <div class="arrow-box"><i class="arrow arrow-right"></i></div>
            </div>
        </a>
        {% endfor %}
    </ul>
</div>
{% endmacro %}
