{% extends "database/single_pages/base.html" %}

{% from "database/_helpers.html" import render_drops, render_add_drop with context %}

{% block content %}
<script src="{{url_for('static', filename='js/jquery.easy-autocomplete.min.js')}}"></script> 
<link rel="stylesheet" href="{{url_for('static', filename='css/easyautocomplete.css')}}">

<div class="row">

    <input type="hidden" name="monster_code" value="{{data.code}}">

    <div class="col-md-4">
        {{render_drops(drops, edit_mode=True)}}
    </div>

    <div class="col-md">
        {{render_add_drop(data)}}
    </div>

</div>

<script src="{{url_for('static', filename='js/edit_monster.js')}}"></script>
{% endblock %}