{% extends "base.html" %}

{% block content %}

<script src="{{url_for('static', filename='js/lozad.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/namecolors.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/listview.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/listitems.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/flex_list.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/arrows.css')}}">

<div class="row">

    <div class="col">

        <!--Filter Menu-->
        <div class="row">
            <div class="col">
                <div class="search-wrapper">

                    <input class="search-input" type="search" placeholder="Search">
                    <button class="filter-options dropdown-toggle" data-toggle="dropdown"></button>
                    
                    <div class="dropdown-menu">
                        <div class="form-group d-flex justify-content-between flex-wrap">

                            {% if table in ["hat", "dress"] %}
                            <div class="option">
                                <label class="form-check-label" for="viewSelect">{{_("View")}}</label>
                                <select id="viewSelect" class="form-control">
                                    {% if filtered %}
                                        <option value="filtered" selected>Filtered</option>
                                        <option value="unfiltered">Unfiltered</option>
                                    {% else %}
                                        <option value="filtered">Filtered</option>
                                        <option value="unfiltered" selected>Unfiltered</option>
                                    {% endif %}
                                </select>
                            </div>
                            {% endif %}

                            <div class="option">
                                <label class="form-check-label" for="orderSelect">Order</label>
                                <select id="orderSelect" class="form-control">
                                    {% if order == "asc" %}
                                        <option value="asc" selected>Ascending</option>
                                        <option value="desc">Descending</option>
                                    {% else %}
                                        <option value="asc">Ascending</option>
                                        <option value="desc" selected>Descending</option>
                                    {% endif %}
                                </select>
                            </div>

                            {% if options["filter_options"] %}
                            <div class="option">
                                <label class="form-check-label" for="filterSelect">{{_("Filter")}}</label>
                                <select id="filterSelect" class="form-control">
                                    {% for option_name, option_value in options["filter_options"].items() %}
                                        <option value="{{option_value}}">{{option_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}

                            <div class="option">
                                <label class="form-check-label" for="sortSelect">{{_("Sort")}}</label>
                                <select id="sortSelect" class="form-control">
                                    {% for sort_name, sort_value in options["sort_options"].items() %}
                                        {% if init_sort_name == sort_value %}
                                            <option value="{{sort_value}}" selected>{{sort_name}}</option>
                                        {% else %}
                                            <option value="{{sort_value}}">{{sort_name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--List Entrys-->
        <div class="row">
            <div class="col">
                {% with data=data, subs=subs, options=options %}
                    {% include "database/listitems.html" %}
                {% endwith %}
            </div>
        </div>

    </div>

</div>

<script src="{{url_for('static', filename='js/listview.js')}}"></script>

{% endblock %}