alembic==1.6.5
aniso8601==9.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
colorama==0.4.4
Flask==1.1.4
Flask-Caching==1.10.1
Flask-JWT-Extended==4.2.1
Flask-Migrate==3.0.1
flask-restx==0.3.0
Flask-SQLAlchemy==2.5.1
git-python==1.0.3
gitdb==4.0.7
GitPython==3.1.18
greenlet==1.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==3.1.4
jsonschema==3.2.0
Mako==1.1.4
MarkupSafe==2.0.1
PyJWT==2.1.0
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.18.0
python-editor==1.0.4
pytz==2021.1
requests==2.25.1
Send2Trash==1.7.1
six==1.16.0
smmap==4.0.0
SQLAlchemy==1.4.18
urllib3==1.26.5
Werkzeug==1.0.1
