{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/simplemde.css')}}">

<div class="row">
    <div class="col">

        <div>
            <div class="d-flex mb-2">
                <input class="form-control flex-grow-1" type="text" name="form-title" placeholder="{{_('Title')}}">
                <button class="btn btn-success ml-1" id="saveButton">{{_("Save")}}</button>
            </div>
        </div>

        <div style="background-color: #aaa;">
            <textarea class="simplemde-textarea"></textarea>
        </div>

    </div>
</div>

<script src="{{url_for('static', filename='js/simplemde.js')}}"></script>
<script>
    var textarea = new SimpleMDE({
        autosave: {
            enabled: true,
            uniqueId: "text",
            delay: 15000,
        },
        tabSize: 4,
        spellChecker: false,
        placeholder: "....."
    });


    $("#saveButton").click(function() {
        console.log(textarea.value())
    });

</script>

{% endblock %}