{% extends "base.html" %}

{% from "planner/_helpers.html" import renderBuilds with context %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/flex_list.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/arrows.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/planner_builds.css')}}">

<div class="row">
    <div class="col">

        {{renderBuilds(builds, private_mode=True)}}

    </div>
</div>

<script src="{{url_for('static', filename='js/planner_build_functions.js')}}"></script>
<script>
    $(".build-star").click(onBuildStarClick);
    $(".delete-build-icon").click(deleteBuild);
</script>


{% endblock %}