{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">

<div class="row">
    <div class="col-md-6 offset-md-3 tile">
        <h1 class="text-center text-white mb-4 header">{{_("Sign Up")}}</h1>
        <form url="{{url_for('auth.signup')}}" method="post">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <dl>
                {{ render_field(form.username, class="form-control") }}
                {{ render_field(form.email, class="form-control") }}
                {{ render_field(form.password, extra_text=_("(Don't use your Florensia Password here)"), class="form-control") }}
                {{ render_field(form.password_confirm, class="form-control") }}
            </dl>
            {{ form.submit(class="btn btn-success") }}
        </form>
    </div>

</div>

{% endblock %}