{% extends "base.html" %}

{% from "_formhelpers.html" import render_field, render_checkbox %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">

<div class="row">
    <div class="col-md-6 offset-md-3 tile">
        <h1 class="text-center text-white mb-4 header">{{_("Sign In")}}</h1>
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <dl>
                {{ render_field(form.username, class="form-control") }}
                {{ render_field(form.password, class="form-control") }}
                {{ render_checkbox(form.remember_me, id="rememberMeCheckbox") }}
            </dl>
            <input type="submit" class="btn btn-success" value="Sign in">
        </form>
        <span>{{_("New User?")}} <a class="link" href="{{url_for('auth.signup')}}">{{_("Click to register!")}}</a></span>
    </div>

</div>

{% endblock %}