.react-select__control {
  background: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid #000 !important;
}

.react-select__control:hover {
  background: rgba(0, 0, 0, 0.7) !important;
}

.react-select__value-container > .react-select__single-value {
  color: #5695d4 !important;
}

.react-select__indicators * {
  color: #fff;
}

.react-select__menu-list {
  padding: 0 !important;
  margin: 0 !important;
}

.react-select__menu {
  margin-top: 1px !important;
  background: rgba(0, 0, 0, 0.9) !important;
}

.react-select__option {
  background-color: transparent !important;
}

.react-select__option--is-selected {
  color: #5695d4 !important;
}

.react-select__option:hover {
  background-color: transparent !important;
  color: #5695d4 !important;
}

.react-select__multi-value {
  background: rgba(0, 0, 0, 0.9) !important;   
}

.react-select__multi-value__label {
  color: #5695d4 !important 
}

.react-select__multi-value__remove:hover * {
  color: #fff !important;
}

.react-select__multi-value__remove {
  background-color: transparent !important;
}

.react-container-label {
  display: block;
  color: #aaa;
  font-size: 20px;
  font-weight: 550;
  text-align: center;
  letter-spacing: 3px;
}