html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch; 
}

nav { 
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
}

main {
    flex: 1;
    padding-top: 30px;
    padding-bottom: 20px;
}

footer {
    background: rgba(0, 0, 0, 0.6);
    padding: 16px 0px;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-evenly;
}

.nav-list {
    position: relative;
    z-index: 5;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    border-top: 1px solid #aaa;
}

.nav-brand {
    position: relative;
    z-index: 5;    
    height: 50px;
    width: auto;
}

.nav-list-item {
    padding: 5px 20px;
}

.nav-list-item-link {
    font-size: 18px;
    letter-spacing: 1.1px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-list-item-sub-link {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-list-item-link:hover, .nav-list-item-sub-link:hover {
    color: #5695d4;
}

.nav-background-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.9);
    height: 0px;
    transition: height 0.5s;
}

.nav-list-dropdown {
    position: absolute;
    z-index: 3;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    list-style: none;
}

.nav-background-dropdown-reset {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    pointer-events: auto;
}