.nav-overlay {
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 1;
    display: none;
}

.nav-overlay.open {
    display: block;
}

.nav-overlay-list {
    margin-top: 100px;
    padding-left: 0px;
    margin-left: 20px;
    list-style: none;
}

.nav-overlay-list-item {
    margin-top: 15px;
}

.nav-overlay-list-item-link {
    letter-spacing: 1.1px;
}

.nav-overlay-list-item-link:hover {
    color: #5695d4;
}

.nav-overlay-list-item-subs {
    list-style: none;
    padding-left: 20px;
}

.nav-overlay-list-item-subs > li {
    font-size: 14px;
    letter-spacing: 1.1px;
}

.nav-overlay-list-item-subs > li {
    margin-top: 5px;
}

.nav-overlay-list-item-sub-link:hover {
    color: #5695d4;
}