{% macro renderBuilds(builds, private_mode=False) %}
<div class="list">
    {% for build in builds %}
        {{renderBuildItem(build, private_mode)}}
    {% endfor %}
</div>
{% endmacro %}

{% macro renderBuildItem(build, private_mode) %}

<a class="flex-item" href="{{'/planner/{0}#{1}'.format(build.class_, build.hash)}}">
    <div class="item-inner">

        {% if current_user.is_authenticated and current_user|has_given_star(build.stars) %}
            {% set voted = True %}
        {% else %}
            {% set voted = False %}
        {% endif %}

        <input type="hidden" name="build_id" value="{{build.index}}">

        <div class="build-info">
            <div class="build-header">
                <span class="build-name">{{build.title}}</span>
                    <i class="build-star fas fa-star {{'logged-in' if current_user.is_authenticated else ''}} {{'voted' if voted else ''}}"><span class="star-count">{{build.stars|length}}</span></i>
                {% if private_mode %}
                    <i class="delete-build-icon float-right fas fa-trash"></i>
                {% endif %}
            </div>
            <span class="sub">Class: {{build.selected_class.capitalize()}},</span>
            <span class="sub">Level: {{build.selected_level}}</span>
            <div>
                <p class="sub">{{build.description}}</p>
            </div>
            <div>
                <span class="sub">{{_("By")}} {{build.user.username}}, {{build.time.strftime('%d.%m.%Y')}}</span>
            </div>

        </div>

        <div class="arrow-box">
            <i class="arrow arrow-right"></i>
        </div>

        
    </div>
</a>

{% endmacro %}