{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/planner.css')}}">

<div class="row">

    <div class="col-xl-6 offset-xl-3">

        <div class="card">

            <div class="card-header">

                <div class="d-flex align-items-center justify-content-around flex-wrap">
                    <div class="option">
                        <a href="/planner/{{class}}/builds">
                            <button class="btn btn-primary">{{_("User Builds")}}</button>
                        </a>
                    </div>

                    <!--Level Select-->
                    <div class="option">
                        <label class="form-check-label" for="levelSelect">{{_("Level")}}</label>
                        <select id="levelSelect" class="form-control" autocomplete="off">
                            {% for i in range(1, max_level+1) %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!--Class select-->
                    <div class="option">
                        <label class="form-check-label" for="classSelect">{{_("Class")}}</label>
                        <select id="classSelect" class="form-control" autocomplete="off">
                            {% for class_identifier, class_name in classes.items() %}
                                <option value="{{class_identifier}}">{{class_name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="d-flex align-items-center justify-content-around flex-wrap mt-2">
                    <div class="option">
                        <span>{{_("Points used:")}} <span id="pointsUsed">0</span>
                    </div>

                    <div class="option">
                        <span>{{_("Points left:")}} <span id="pointsLeft">0</span>
                    </div>

                    <div class="option">
                        <button id="resetButton" class="btn btn-sm btn-danger">{{_("Reset")}}</button>
                    </div>

                    {% if current_user.is_authenticated %}
                    <div class="option">
                        <button onclick="$('#saveBuildModal').modal('show');" id="imageButton" class="btn btn-success btn-sm">{{_("Save")}}</button>
                    </div>
                    {% endif %}

                    {#<div class="option">
                        <button id="imageButton" class="btn btn-success btn-sm">IMAGE</button>
                    </div>#}

                </div>

            </div>

            <div class="card-body d-flex justify-content-center">
                <div class="skilltree-wrapper" style="overflow-x: auto;">
                    {% block skilltree_background %}
                    {% endblock %}
                    
                    {% block skill_icons %}
                    {% endblock %}
                </div>
            </div>

        </div>

    </div>

</div>

{% if current_user.is_authenticated %}
<div class="modal fade" id="saveBuildModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{_("Save")}}</h5>
                <i onclick="$('#saveBuildModal').modal('hide');" class="fas fa-times"></i>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="form-check-label" for="buildTitle">{{_("Title")}}</label>
                    <input id="buildTitle" name="build_title" type="text" class="form-control" autocomplete="off">
                </div>

                <div class="form-check form-group">
                    <input type="checkbox" id="publicCheckbox" name="public_checkbox" class="form-check-input">
                    <label class="form-check-label" for="publicCheckbox">{{_("Public")}}</label>
                </div>

                <div class="form-group">
                    <label class="form-check-label" for="buildDescription">{{_("Description")}}</label>
                    <textarea id="buildDescription" name="build_description" maxlength="200" class="form-control" autocomplete="off"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="saveBuildButton" class="btn btn-success">{{_("Save")}}</button>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/planner_build_functions.js')}}"></script>
<script>$("#saveBuildButton").on("click", addBuild);</script>
{% endif %}

<script src="https://unpkg.com/tippy.js@4"></script>
<script>
    const skillsBaseData = {{skills|tojson|safe}}; // Contains infos about max_level, url_index, relies_on
    const skillsDescriptionData = {{skill_data|tojson|safe}}; // Description data etc.
</script>
<script src="{{url_for('static', filename='js/planner.js')}}"></script>

{% endblock %}