{% set class = "explorer" %}

{% set classes = {
    "explorer": "Explorer",
    "sniper": "Sniper",
    "excavator": "Excavator",
}
%}

{% set max_level = 105 %}

{% extends "planner/base.html" %}

{% block skilltree_background %}
<div class="skilltree-background">
    <img src="{{url_for('static', filename='img/skilltree_backgrounds/explorer.png')}}">
</div>
{% endblock %}


{% block skill_icons %}
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln144.png')}}" id="ck500000" style="top: 20px; left: 20px;"></div>
<!--Col 1-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln016.png')}}" id="ck000700" style="top: 80px; left: 26px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln025.png')}}" id="ck005200" style="top: 250px; left: 26px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln145.png')}}" id="ck008700" style="top: 310px; left: 26px;"></div>

<!--Col 2-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln044.png')}}" id="ck009000" style="top: 80px; left: 96px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln031.png')}}" id="ck005800" style="top: 150px; left: 96px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln043.png')}}" id="ck009100" style="top: 210px; left: 96px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln026.png')}}" id="ck005300" style="top: 310px; left: 96px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln181.png')}}" id="ck008500" style="top: 445px; left: 96px;"></div>

<!--Col 3-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln017.png')}}" id="ck000800" style="top: 20px; left: 166px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln019.png')}}" id="ck001000" style="top: 150px; left: 166px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln018.png')}}" id="ck000900" style="top: 245px; left: 166px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln097.png')}}" id="ck008400" style="top: 340px; left: 166px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln183.png')}}" id="ck008800" style="top: 390px; left: 166px;"></div>

<!--Col 4-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln096.png')}}" id="ck005900" style="top: 80px; left: 236px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln027.png')}}" id="ck005400" style="top: 130px; left: 236px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln020.png')}}" id="ck001100" style="top: 180px; left: 236px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln021.png')}}" id="ck001200" style="top: 285px; left: 236px;"></div>

<!--Col 5-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln042.png')}}" id="ck009200" style="top: 210px; left: 306px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln177.png')}}" id="ck008000" style="top: 310px; left: 306px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln179.png')}}" id="ck008300" style="top: 390px; left: 306px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln176.png')}}" id="ck007900" style="top: 445px; left: 306px;"></div>

<!--Col 6-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln024.png')}}" id="ck001500" style="top: 20px; left: 376px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln022.png')}}" id="ck001300" style="top: 130px; left: 376px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln030.png')}}" id="ck005700" style="top: 180px; left: 376px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln028.png')}}" id="ck005500" style="top: 285px; left: 376px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln178.png')}}" id="ck008100" style="top: 390px; left: 376px;"></div>

<!--Col 7-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln029.png')}}" id="ck005600" style="top: 210px; left: 436px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/explorer/sln182.png')}}" id="ck008600" style="top: 390px; left: 436px;"></div>

<script>
    var isShipSkilltree = false;
</script>
{% endblock %}
