{% set class = "mercenary" %}

{% set classes = {
    "mercenary": "Mercenary",
    "gladiator": "Gladiator",
    "guardian swordman": "Guardian Swordman",
}
%}

{% set max_level = 105 %}

{% extends "planner/base.html" %}

{% block skilltree_background %}
<div class="skilltree-background">
    <img src="{{url_for('static', filename='img/skilltree_backgrounds/mercenary.png')}}">
</div>
{% endblock %}


{% block skill_icons %}
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln144.png')}}" id="ck500000" style="top: 20px; left: 28px;"></div>
<!--Col 1-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln014.png')}}" id="ck004600" style="top: 205px; left: 26px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln007.png')}}" id="ck000400" style="top: 270px; left: 26px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln135.png')}}" id="ck008900" style="top: 405px; left: 26px;"></div>

<!--Col 2-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln003.png')}}" id="ck000100" style="top: 75px; left: 108px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln015.png')}}" id="ck004700" style="top: 135px; left: 108px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln010.png')}}" id="ck004200" style="top: 205px; left: 108px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln012.png')}}" id="ck004400" style="top: 270px; left: 108px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln160.png')}}" id="ck007000" style="top: 405px; left: 108px;"></div>

<!--Col 3-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln000.png')}}" id="ck003900" style="top: 20px; left: 190px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln002.png')}}" id="ck000000" style="top: 75px; left: 190px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln001.png')}}" id="ck004000" style="top: 135px; left: 190px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln011.png')}}" id="ck004300" style="top: 215px; left: 196px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln013.png')}}" id="ck004500" style="top: 280px; left: 196px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln166.png')}}" id="ck007600" style="top: 340px; left: 196px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln162.png')}}" id="ck007400" style="top: 405px; left: 196px;"></div>

<!--Col 4-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln005.png')}}" id="ck004100" style="top: 75px; left: 272px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln080.png')}}" id="ck004800" style="top: 135px; left: 272px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln008.png')}}" id="ck000500" style="top: 205px; left: 272px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln161.png')}}" id="ck007100" style="top: 405px; left: 272px;"></div>

<!--Col 5-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln081.png')}}" id="ck004900" style="top: 20px; left: 395px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln083.png')}}" id="ck005100" style="top: 75px; left: 354px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln006.png')}}" id="ck000300" style="top: 135px; left: 354px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln082.png')}}" id="ck005000" style="top: 205px; left: 354px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln164.png')}}" id="ck007500" style="top: 325px; left: 354px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln167.png')}}" id="ck007800" style="top: 405px; left: 354px;"></div>

<!--Col 6-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln004.png')}}" id="ck000200" style="top: 75px; left: 436px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln009.png')}}" id="ck000600" style="top: 135px; left: 436px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln145.png')}}" id="ck007700" style="top: 245px; left: 436px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/mercenary/sln163.png')}}" id="ck007200" style="top: 340px; left: 436px;"></div>

{% endblock %}
