{% set class = "noble" %}

{% set classes = {
    "noble": "Noble",
    "court magican": "Court Magican",
    "magic knight": "Magic Knight",
}
%}

{% set max_level = 105 %}

{% extends "planner/base.html" %}

{% block skilltree_background %}
<div class="skilltree-background">
    <img src="{{url_for('static', filename='img/skilltree_backgrounds/noble.png')}}">
</div>
{% endblock %}


{% block skill_icons %}

<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln144.png')}}" id="ck500000" style="top: 20px; left: 20px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln048.png')}}" id="cp002300" style="top: 20px; left: 96px "></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln192.png')}}" id="cp008700" style="top: 20px; left: 306px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln112.png')}}" id="cp006800" style="top: 20px; left: 446px;"></div>

<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln039.png')}}" id="cp010200" style="top: 85px; left: 26px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln050.png')}}" id="cp002500" style="top: 85px; left: 306px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln063.png')}}" id="cp006700" style="top: 85px; left: 376px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln114.png')}}" id="cp007000" style="top: 85px; left: 446px;"></div>

<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln049.png')}}" id="cp002400" style="top: 155px; left: 26px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln057.png')}}" id="cp006100" style="top: 175px; left: 166px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln054.png')}}" id="cp002900" style="top: 140px; left: 236px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln059.png')}}" id="cp006300" style="top: 155px; left: 306px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln053.png')}}" id="cp002800" style="top: 175px; left: 376px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln052.png')}}" id="cp002700" style="top: 140px; left: 446px;"></div>

<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln056.png')}}" id="cp006000" style="top: 190px; left: 96px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln060.png')}}" id="cp006400" style="top: 240px; left: 236px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln055.png')}}" id="cp003000" style="top: 200px; left: 446px;"></div>

<div class="skill" icon-src="{{url_for('static', filename='')}}img/skill_icons/noble/sln058.png" id="cp006200" style="top: 280px; left: 26px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='')}}img/skill_icons/noble/sln051.png" id="cp002600" style="top: 280px; left: 96px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='')}}img/skill_icons/noble/sln194.png" id="cp008800" style="top: 240px; left: 306px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='')}}img/skill_icons/noble/sln061.png" id="cp006500" style="top: 265px; left: 446px;"></div>

<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln196.png')}}" id="cp008300" style="top: 350px; left: 26px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln145.png')}}" id="cp008500" style="top: 330px; left: 236px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln195.png')}}" id="cp008900" style="top: 330px; left: 306px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln062.png')}}" id="cp006600" style="top: 330px; left: 376px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln113.png')}}" id="cp006900" style="top: 320px; left: 446px;"></div>

<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln193.png')}}" id="cp009100" style="top: 380px; left: 376px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln098.png')}}" id="cp008400" style="top: 380px; left: 446px;"></div>

<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln199.png')}}" id="cp008200" style="top: 435px; left: 166px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/noble/sln197.png')}}" id="cp008600" style="top: 435px; left: 446px;"></div>

{% endblock %}
