{% set class = "saint" %}

{% set classes = {
    "saint": "Saint",
    "priest": "Priest",
    "shaman": "Shaman",
}
%}

{% set max_level = 105 %}

{% extends "planner/base.html" %}

{% block skilltree_background %}
<div class="skilltree-background">
    <img src="{{url_for('static', filename='img/skilltree_backgrounds/saint.png')}}">
</div>
{% endblock %}


{% block skill_icons %}
<!--Col 1-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln071.png')}}" id="cp003500" style="top: 20px; left: 26px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln078.png')}}" id="cp007700" style="top: 185px; left: 26px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln077.png')}}" id="cp007600" style="top: 250px; left: 26px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln208.png')}}" id="cp009600" style="top: 410px; left: 26px;"></div>

<!--Col 2-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln064.png')}}" id="cp003100" style="top: 20px; left: 108px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln041.png')}}" id="cp008000" style="top: 85px; left: 108px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln065.png')}}" id="cp003200" style="top: 150px; left: 108px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln072.png')}}" id="cp007100" style="top: 215px; left: 108px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln210.png')}}" id="cp009300" style="top: 277px; left: 108px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln211.png')}}" id="cp009200" style="top: 345px; left: 108px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln079.png')}}" id="cp007800" style="top: 410px; left: 108px;"></div>

<!--Col 3-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln068.png')}}" id="cp003800" style="top: 85px; left: 190px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln067.png')}}" id="cp003400" style="top: 150px; left: 190px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln069.png')}}" id="cp003600" style="top: 215px; left: 190px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln129.png')}}" id="cp009400" style="top: 310px; left: 190px;"></div>

<!--Col 4-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln073.png')}}" id="cp007200" style="top: 65px; left: 272px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln128.png')}}" id="cp007900" style="top: 130px; left: 272px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln066.png')}}" id="cp003300" style="top: 215px; left: 272px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln145.png')}}" id="cp009500" style="top: 315px; left: 272px;"></div>

<!--Col 5-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln070.png')}}" id="cp003700" style="top: 130px; left: 354px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln074.png')}}" id="cp007300" style="top: 185px; left: 354px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln040.png')}}" id="cp007400" style="top: 255px; left: 354px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln215.png')}}" id="cp009800" style="top: 312px; left: 354px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln212.png')}}" id="cp009700" style="top: 360px; left: 354px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln214.png')}}" id="cp010100" style="top: 410px; left: 354px;"></div>

<!--Col 6-->
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln144.png')}}" id="ck500000" style="top: 20px; left: 436px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln045.png')}}" id="cp010300" style="top: 85px; left: 436px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln130.png')}}" id="cp008100" style="top: 235px; left: 436px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln076.png')}}" id="cp007500" style="top: 290px; left: 436px;"></div>
<div class="skill" icon-src="{{url_for('static', filename='img/skill_icons/saint/sln213.png')}}" id="cp009900" style="top: 360px; left: 436px;"></div>

<script>
    var isShipSkilltree = false;
</script>
{% endblock %}
