{% macro render_item_name(item, header=False) %}
    {% if item.rare_grade == 0 %}
        <span class="name rare-blue {{'name-header' if header else ''}}">
            {{item.name}}
            {% if item.duration is defined and item.duration != -1 %}
                <span class="duration badge badge-dark">{{item.duration}}{{_("D")}}</span>
            {% endif %}
        </span>
    {% elif item.rare_grade == 1 %}
        <span class="name rare-green {{'name-header' if header else ''}}">
            {{item.name}}
            {% if item.duration is defined and item.duration != -1 %}
                <span class="duration badge badge-dark">{{item.duration}}{{_("D")}}</span>
            {% endif %}
        </span>
    {% elif item.rare_grade == 2 or item.rare_grade == 3 %}
        <span class="name rare-golden {{'name-header' if header else ''}}">
            {{item.name}}
            {% if item.duration is defined and item.duration != -1 %}
                <span class="duration badge badge-dark">{{item.duration}}{{_("D")}}</span>
            {% endif %}
        </span>
    {% else %}
        <span class="name rare-blue {{'name-header' if header else ''}}">
            {{item["name"]}} {# use dict key here because it could be a dict instance and not db object (mostly money) #}
            {% if item.duration is defined and item.duration != -1 %}
                <span class="duration badge badge-dark">{{item.duration}}{{_("D")}}</span>
            {% endif %}
        </span>
    {% endif %}
{% endmacro %}

{% macro render_monster_name(monster, header=False) %}
    {% if monster.rating_type == 0 %}
        <span class="name {{'name-header' if header else ''}}">{{monster.name}}</span>
    {% elif monster.rating_type == 1 %}
        <span class="name name-green {{'name-header' if header else ''}}">{{monster.name}}</span>
    {% elif monster.rating_type == 2 %}
        <span class="name name-red {{'name-header' if header else ''}}">{{monster.name}}</span>
    {% elif monster.rating_type == 3 %}
        <span class="name name-orange {{'name-header' if header else ''}}">{{monster.name}}</span>
    {% endif %}
{% endmacro %}

{% macro render_npc_name(npc) %}
    <span class="name">{{npc.name}}</span>
{% endmacro %}