{% extends "database/single_pages/base.html" %}

{% from "database/_helpers.html" import render_basic_infos, render_dropped_by, render_random_boxes, render_text_only %}

{% block content %}

{% if table in ["seal_break_help", "upgrade_help", "upgrade_stone"] %}
    {% set kws = [
        (_("Tradable"), "tradable"),
        ] %}
{% elif table == "upgrade_crystal" %}
    {% set kws = [
        (_("Tradable"), "tradable"),
        (_("Buy price"), "npc_price"),
        ] %}
{% endif %}

<div class="row">

    <div class="col-md-4">
        {{render_basic_infos(data, kws)}}

        {% if random_boxes %}
            {{render_random_boxes(random_boxes)}}
        {% endif %}
    </div>

    <div class="col-md">
        {% if data.description %}
            {{render_text_only(_("Description"), data.description)}}
        {% endif %}

        {% if dropped_by %}
            {{render_dropped_by(dropped_by)}}
        {% endif %}
    </div>

</div>
{% endblock %}