{% extends "database/single_pages/base.html" %}

{% from "database/_helpers.html" import render_basic_infos, render_needed_for, render_produced_by, render_dropped_by, render_random_boxes %}

{% block content %}
<div class="row">

    <div class="col-md-4">
        {{render_basic_infos(data, [
            (_("Sell price"), "npc_price_disposal"),
            (_("Tradable"), "tradable"),
            ]
        )}}

        {% if dropped_by %}
            {{render_dropped_by(dropped_by)}}
        {% endif %}

        {% if random_boxes %}
            {{render_random_boxes(random_boxes)}}
        {% endif %}
    </div>

    <div class="col-md">
        {% if needed_for_recipe_data or needed_for_second_job_data %}
            {{render_needed_for(needed_for_recipe_data, needed_for_second_job_data)}}
        {% endif %}

        {% if produced_by_recipe_data or produced_by_second_job_data %}
            {{render_produced_by(produced_by_recipe_data, produced_by_second_job_data)}}
        {% endif %}
    </div>

</div>
{% endblock %}