{% extends "database/single_pages/base.html" %}

{% from "database/_helpers.html" import render_basic_infos, render_dropped_by, render_random_boxes %}

{% block content %}

{% if table == "pet_combine_help" %}
    {% set value = "efficiency" %}
{% elif table == "pet_combine_stone" %}
    {% set value = ["increment_min", "~", "increment_max"] %}
{% endif %}

<div class="row">

    <div class="col-md-4">
        {{render_basic_infos(data, [
            (_("Value"), value),
            (_("Tradable"), "tradable"),
            ]
        )}}

        {% if random_boxes %}
            {{render_random_boxes(random_boxes)}}
        {% endif %}
    </div>

    <div class="col-md">
        {% if dropped_by %}
            {{render_dropped_by(dropped_by)}}
        {% endif %}

    </div>

</div>
{% endblock %}