{% extends "database/single_pages/base.html" %}

{% from "database/_helpers.html" import render_basic_infos, render_dropped_by, render_random_boxes, render_text_only %}

{% block content %}

{% set cooldown = "str:{0}s".format(data.cooldown/1000) %}
{% set casttime = "str:{0}s".format(data.casttime/1000) %}

<div class="row">

    <div class="col-md-4">
        {{render_basic_infos(data, [
            (_("Level"), "level"),
            (_("Cooldown"), cooldown),
            (_("Casttime"), casttime),
            (_("Tradable"), "tradable"),
            ]
        )}}

        {% if random_boxes %}
            {{render_random_boxes(random_boxes)}}
        {% endif %}
    </div>

    <div class="col-md">
        {% if data.description %}
            {{render_text_only(_("Description"), data.description)}}
        {% endif %}

        {% if dropped_by %}
            {{render_dropped_by(dropped_by)}}
        {% endif %}
    </div>

</div>
{% endblock %}