{% extends "database/single_pages/base.html" %}

{% from "database/_helpers.html" import render_basic_infos, render_dropped_by, render_random_boxes, render_material_list with context %}

{% block content %}

{% set type_code = data.target.type %}
    {# 0: Weapon | 1: Armor | 2: Alchemist | 3: Accessories #}
    {% if type_code == 0 %}
        {% set type = _("Weapon Smith") %}
    {% elif type_code == 1 %}
        {% set type = _("Armor Smith") %}
    {% elif type_code == 2 %}
        {% set type = _("Alchemist") %}
    {% elif type_code == 3 %}
        {% set type = _("Workmanship") %}
{% endif %}

<div class="row">

    <div class="col-md-4">
        {{render_basic_infos(data, [
            (_("Type"), "str:{0}".format(type) ),
            (_("Required Points"), "target.points_needed"),
            ]
        )}}
    </div>

    <div class="col-md">
        {{render_material_list(data.target)}}
    </div>


</div>
{% endblock %}