{% extends "database/single_pages/base.html" %}

{% from "database/_helpers.html" import render_basic_infos, render_dropped_by, render_random_boxes, render_material_list with context %}

{% block content %}
<div class="row">

    <div class="col-md-4">
        {{render_basic_infos(data, [
            (_("Tradable"), "tradable"),
            ]
        )}}
        
        {% if dropped_by %}
            {{render_dropped_by(dropped_by)}}
        {% endif %}

        {% if random_boxes %}
            {{render_random_boxes(random_boxes)}}
        {% endif %}
    </div>

    <div class="col-md">
        {{render_material_list(data)}}
    </div>


</div>
{% endblock %}