{% extends "database/single_pages/base.html" %}

{% from "database/_helpers.html" import render_basic_infos, render_random_boxes, render_text_only %}

{% block content %}
<div class="row">

    <div class="col-md-4">
        {{render_basic_infos(data, [
            (_("Tradable"), "tradable"),
            ]
        )}}
    </div>

    <div class="col-md">
        {% if data.description %}
            {{render_text_only(_("Description"), data.description)}}
        {% endif %}

        {% if random_boxes %}
            {{render_random_boxes(random_boxes)}}
        {% endif %}
    </div>

</div>
{% endblock %}