{% extends "database/single_pages/base.html" %}

{% from "database/_helpers.html" import render_basic_infos, render_dropped_by %}

{% block content %}

{% set buy_price = "str:{0} / 500".format( (data.npc_price * 500)|int ) %}

<div class="row">

    <div class="col-md-4">
        {{render_basic_infos(data, [
            (_("Level"), "level_sea"),
            (_("Damage"), "damage"),
            (_("Buy price"), buy_price),
            ]
        )}}
    </div>

    {% if dropped_by %}
    <div class="col-md">
        {{render_dropped_by(dropped_by)}}
    </div>
    {% endif %}

</div>
{% endblock %}