.skill {
    position: absolute;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.skill-icon-wrapper {
    position: relative;
    height: 32px;
    box-sizing: border-box;
}

.level {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
}

.skill-icon-effect-wrapper:not(.skilled):not(.allowed) {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
}

.skill-icon-effect-wrapper.allowed:not(.skilled) {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);  
}

.level-button {
    height: 32px;
    background-color: #5695d4;
    padding: 1px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.level-button.hidden {
    visibility: hidden;
}

.level-button-minus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.level-button-plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.level-button > svg * {
    color: white;
}

.level-button > svg {
    font-size: 7px;
}
