{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/easyautocomplete.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/home.index.css')}}">

<div class="outer">
    <div class="middle">
        <div class="inner">
            <input type="search" class="easyautocomplete-search-input" id="searchInput" autocomplete="off" placeholder="{{_('Search database')}}">
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/jquery.easy-autocomplete.min.js')}}"></script> 
<script src="{{url_for('static', filename='js/home.index.js')}}"></script>

{% endblock %}
