.tile {
    background-color: rgba(0, 0, 0, 0.65);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 75px;
    padding-left: 75px;
    border-radius: 15px;
}

h1.header {
    letter-spacing: 2px;
    font-weight: 750;
    text-underline-position: below;
    text-decoration: underline;
}