body {
    background: black;
}

.noscroll {
    overflow: hidden;
}

.background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.background-cover {
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.8;
}

.container-fluid {
    min-height: calc(100vh - 75px - 24px - 32px); /* 100 View Port - Header - Footer height - Whatever */
    padding-bottom: 20px;
    padding-top: 40px;
}

.footer-copyright {
    background-color: rgba(0, 0, 0, .6) !important;
}

/* Nav */
.nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 75px;
}

.nav-icon img {
    height: 50px;
    width: auto;
    position: relative;
    z-index: 3;
}

.nav-right {
    position: relative;
    z-index: 3;
}

.nav-list {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 0px;
    border-top: #aaa 1px solid;
}

.nav-overlay-menu {
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 1;
    display: none;
}

.nav-list-item {
    padding: 5px 20px;
}

.nav-list-item-link {
    font-size: 18px;
    letter-spacing: 1.1px;
    cursor: pointer;
}

.nav-list-item-link:hover {
    color: #5695d4;
}

.nav-list-item-link.active, .nav-list-overlay-item-link.active {
    color: #5695d4;
}

.nav-overlay-toggler {
    display: none;
    position: relative;
    z-index: 3;
}

@media only screen and (max-width: 1000px) {
    .nav-list {
        display: none;
    }
    .nav-overlay-toggler {
        display: inline;
    }
}

/* Dropdown things */
.nav-dropdown-background {
    background-color: rgba(0, 0, 0, 0.9);
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.nav-dropdown-background-reset {
    background-color: transparent;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-dropdown-content {
    position: absolute;
    display: none;
    margin-top: 15px;
}

.nav-dropdown-content li {
    margin-top: 3px;
}

.nav-dropdown-content a:hover {
    color: #5695d4;
}


/* Overlay */
.nav-list-overlay {
    margin-bottom: 0px;
    margin-top: 75px;
    padding: 20px;
}

.nav-list-overlay-item {
    margin-top: 15px;
}

.nav-list-overlay-item-link {
    margin-top: 5px;
    letter-spacing: 1.1px;
}

.nav-list-overlay-item-link:hover {
    color: #5695d4;
}

.nav-overlay-dropdown-content {
    display: none;
    margin-left: 30px;
}

.nav-overlay-dropdown-content li {
    margin-top: 3px;
}

.nav-overlay-dropdown-content a:hover {
    color: #5695d4;
}

.nav-overlay-dropdown-content.open {
    display: blocK;
}

/* Navbar Animation Toggler Icon */

.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
    
.animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
} 
    
.animated-icon span {
    background: #e3f2fd;
}
      
.animated-icon span:nth-child(1) {
    top: 0px;
}
    
.animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
    top: 10px;
}
    
.animated-icon span:nth-child(4) {
    top: 20px;
}
    
.animated-icon.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}
    
.animated-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
    
.animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
    
.animated-icon.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}
