.easy-autocomplete-container ul {
    margin-bottom: 0px;
}

.easy-autocomplete-container ul {
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.6);
}


@media only screen and (max-height: 500px) {
    .easy-autocomplete-container ul {
        max-height: 200px;
    }
}

@media only screen and (max-height: 700px) {
    .easy-autocomplete-container ul {
        max-height: 250px;
    }
}

@media only screen and (max-height: 900px) {
    .easy-autocomplete-container ul {
        max-height: 300px;
    }
}

.easy-autocomplete-container ul li {
    padding: 4px;
    cursor: pointer;
}

.easy-autocomplete {
    width: 100% !important;
}

.easyautocomplete-search-input {
    padding: 5px;
    border: none;
    border-bottom: 2px solid #aaa;
    background: inherit;
    color: white;
    transition: border-color 0.5s;
    width: 100%;
    font-size: 20px;
}

.easyautocomplete-search-input:focus {
    border-color: #fff;
}

.easyautocomplete-search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.easyautocomplete-search-input::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.easyautocomplete-search-input:-ms-input-placeholder { /* IE 10+ */
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.easyautocomplete-search-input:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.easyautocomplete-search-input-spinner {
    display: none;
}