.list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    flex-basis: 30%;
    margin-top: 10px;
    cursor: pointer;
}

.item-inner {
    display: flex;
    background: linear-gradient(90deg,rgba(0,0,0,.5) 70%, transparent 110%);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.item-inner:hover {
    background: linear-gradient(90deg,rgba(0,0,0,.7) 70%, transparent 110%);
}

.item-inner:hover i.arrow {
    border-color: #fff;
}