html * {
    color: #aaa;
}

a, a:link, a:visited {
    text-decoration: none !important;
}

.link {
    color: white;
    text-decoration: none;
}

/*
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}*/

.input[type=search], input[type=search]:hover, input[type=search]:active, input[type=search]:focus {
    outline: 0px !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important; 
}

.fas:hover {
    color: white;
    transition: color 0.25s;
    cursor: pointer;
}

.sub {
    font-size: 12px;
}

.modal-content {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #aaa;
}

.modal-header {
    border-bottom: 1px solid #aaa;
}

.modal-footer {
    border-top: 1px solid #aaa;
}

textarea:not(.simplemde-textarea) {
    background: #000000 !important;
    border: none !important;
    border: 1px solid #aaa !important;
    transition: border-color 0.5s;
}

textarea:active, textarea:focus {
    border-color: #5695d4 !important;
}

ul {
    list-style: none;
    margin-left: 0 0 0 0;
    padding: 0 0 0 0;
}