.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
.middle {
    display: table-cell;
    vertical-align: middle;
}
  
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    /*margin-bottom: 80px; Complete Center: Nav Height (75) + Footer height (36) */
}

@media only screen and (max-width: 768px) {
    .inner {
        width: 90%;
        /*margin-bottom: 40px;*/
    }
}