
.search-wrapper {
    display: flex;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.search-input {
    flex-grow: 1;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #aaa;
    background: inherit;
    color: white;
    transition: border-color 0.5s;
}

.search-input:focus {
    border-color: #fff;
}

i.arrow-down {
    border: solid #aaa;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.filter-options:hover {
    color: #fff;
}

.filter-options {
    margin-left: 3px;
    background: inherit;
    border: none;
}

.dropdown-menu {
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

.option {
    margin-left: 5px;
    margin-right: 5px;
}