/* Monsters */

.name {
    color: white;
    letter-spacing: 1.1px;
}

.name .duration {
    letter-spacing: normal;
}

.name-green {
    color: #7fce2e;
}

.name-red {
    color: #cf304e;
}

.name-orange {
    color: #e7b23f;
}

/* Items */

.rare-blue {
    color: #99ccff;
}

.rare-green {
    color: #99e680;
}

.rare-golden {
    color: #ffbd8f;
}

/* Header size on item page */

.name-header {
    font-size: 25px;
}