.list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    flex-basis: 30%;
    margin-top: 10px;
    cursor: pointer;
}

.item-inner {
    display: flex;
    background: linear-gradient(90deg,rgba(0,0,0,.5) 70%, transparent 110%);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.item-inner:hover {
    background: linear-gradient(90deg,rgba(0,0,0,.7) 70%, transparent 110%);
}

.item-inner:hover i.arrow {
    border-color: #fff;
}

.build-info {
    flex-grow: 1;
}

.build-name {
    font-weight: 700;
    margin-right: 5px;
}

.build-header {
    border-bottom: 1px solid #aaa;
}

i.build-star:not(.loggged-in):hover {
    color: #aaa;
}

i.build-star.logged-in:not(.voted):hover {
    color: #5695d4;
}

i.build-star.voted {
    color: #5695d4;
}

i.build-star.voted:hover {
    color: lightcoral;
}

.star-count {
    color: inherit;
}