.upgrade-color {
    color: lime;
}

.level-slider-wrapper {
    padding: 5px;
    margin-bottom: 2px;
}

.level-slider-upgrade-text {
    font-size: 15px; 
    font-weight: 1000; 
    padding-bottom: 4px; 
    letter-spacing: 1.05px;
    display: block;
    padding-bottom: 8px;
}

/* Removes slider style */
.level-slider {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

.level-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.level-slider:focus {
    outline: none;
}

.level-slider::-ms-track {
    width: 100%;
    cursor: pointer;
  
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/* New slider style */
.slider{
    width:100%; 
    background: #d3d3d3; 
    height:8px; 
    border-radius:4px; 
    opacity:0.7; 
    transition:0.6s;
    -webkit-transition:0.6s;
    -moz-transition:0.6s;
    }
.slider:hover{opacity:1.0; box-shadow:0px 0px 5px 1px white}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 8px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 8px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
}