<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/img/favicon.png">
    <meta name="google-site-verification" content="aqBQJTr9FLd6NrIMCMr_pW8s7iU9CZnQNEi2Tps5wqo" />
    <meta property="og:title" content="{{name}}" />
    <meta property="og:image" content="{{icon}}" />
    <meta property="og:description" content="Flandria - Your Florensia Fansite all around Florensia" />
</head>
<body style="background: black;">
    <div id="root"></div>
    <script type="text/javascript" src="{{url_for('static', filename=bundle_filename)}}"></script>
</body>
</html>