<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-site-verification" content="aqBQJTr9FLd6NrIMCMr_pW8s7iU9CZnQNEi2Tps5wqo" />
  <meta property="og:title" content="{{name}}" />
  <meta property="og:image" content="{{icon}}" />
  <meta property="og:description" content="Flandria - Your Florensia Fansite all around Florensia" />
</head>

<body>
  <div id="react-root-div"></div>
  <script type="text/javascript" src="{{url_for('static', filename=bundle_fname)}}"></script>
  <script data-ad-client="ca-pub-7852193310298972" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/adsbygoogle.js')}}"></script>
</body>
</html>