.upgrade-slider {
    width: 100%;
}

.upgrade-1,
.upgrade-2,
.upgrade-3,
.upgrade-4,
.upgrade-5,
.upgrade-6,
.upgrade-7,
.upgrade-8,
.upgrade-9,
.upgrade-10,
.upgrade-11,
.upgrade-12,
.upgrade-13,
.upgrade-14,
.upgrade-15 {
    transition: color 0.3s;
    color: lime;
}